.Dias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.Dia{
    width: calc(11%);
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: grey;
    height: 50;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(198, 235, 242);
    text-decoration: underline;

}

.boton{
    width: calc(11%);
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(193, 185, 185);
}

.botonera{
    display: flex;
    justify-content: center;
    align-items: center;
}

.beta {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}