.dia-container {
        display: inline-block;
        width: 200px;
        height: 1000px;
        background-color: rgb(0, 184, 245);
        text-align: center;
        line-height: 100px;
        border: 2px dashed transparent;
        margin: 20px;
    }

.dia-titulo{
    text-align: center;
}