.Dias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.Dia{
    width: calc(11%);
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: grey;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(198, 235, 242);
    text-decoration: underline;

}